<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.busanbank.card.admin.dao.IAdminLoginDao">

	<select id="adminLogin" parameterType="com.busanbank.card.admin.dto.AdminDto" resultType="com.busanbank.card.admin.dto.AdminDto">
		SELECT admin_no ,
	    username,
	    password,
	    name,
	    role FROM admin where username = #{username}
	</select>

</mapper>