
*{
	margin:0;
	padding:0;
}
.inner {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
a,li,ul{
	list-style:none;
	text-decoration:none;
}
.flex {
	display: flex;
}

.admin-header {
    flex-direction: column;
    justify-content:flex-start;
    width:300px;
    height:100vh;
    background-color: #2c3e50;
    color: white;
    padding: 100px 0px 0px 90px;
    position:fixed;
    gap:40px;
    transition: width 0.3s ease, padding 0.3s ease;
    overflow-y: auto; /* 세로 스크롤 허용 */
    box-sizing: content-box;
}
.admin-header a{
	color:white;
	font-size:1.5rem;
}
.header-close-btn{
	width:60px; height:60px;
	position:fixed;
	top:30px; left:15px;
}
.header-close-btn.off{
	display:none;
}
.header-open-btn{
	display:none;
	width: 60px; height:60px;
	position:fixed;
	top:30px; left:15px;
}
.sidebar{
	position:relative;
    z-index: 1;
}
.sidebar.closed .admin-header {
  width: 0px;
  padding: 0;
}

.sidebar.closed .admin-header *{
  display:none;
}

.sidebar.closed .header-open-btn{
	display:block;
}
.img{width:500px;}

/*이대영 추가==========  */
button {
	background-color: while;
	 color: black;
  font-size: 0.9rem;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

button:hover {
	background-color: black;
	 color: white;
}

.header-close-btn img{
	width:100%;
}
.header-open-btn img{
	width:100%;
}
